<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<listeners>
		<listener class-name="sahebraochavanautomation.TestComponent.Day43Listeners"/>
	</listeners>
  <test thread-count="5" name="Submit order Test">
    <classes>
      <class name="sahebraochavanautomation.Tests.Day37standAloneTest2"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Test">
    <classes>
      <class name="sahebraochavanautomation.Tests.Day37standAloneTestError"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
